* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    background-color: #d1d1d1;
}
a {
    color: black;
    text-decoration: underline;
    font-size: 25px;
}
a:hover {
    cursor: pointer;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    color: red;
}
strong {
    font-size: 20px;
}
p {
    font-size: 18px;
}
bonitinho {
    text-decoration: underline;
    font-size: 20px;
    color: rgb(221, 82, 82);
}
.footer {
    font-size: 25px;
    background-color: black;
}
.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.icon-rock {
    width: 40px;
}
.icon-onebitcode {
    width: 200px;
}
.sistemStars {
    font-size: 25px;
}
.sistemPlanests {
    font-size: 25px;
    font-family: 'Roboto';
}
.title {
    font-size: 25px;
    font-family: 'Roboto';
}